#user-session
  = form_for :user, :html => {:class => "authentication-form"} do |f|
    %h6 Who are you?

    / %p.error Incorrect email or password

    .field.first
      = f.label :email
      = f.email_field :email, :autocomplete => "off", :spellcheck => false

    .field
      = f.label :password
      = f.password_field :password

    .field.actions.last
      = f.submit "Sign In", :class => "button"
      = link_to "Forgot your password?", "#"