#user-session
  = form_for :user, :url=>{:action=>:create}, :html => {:class => "authentication-form"} do |f|
    %h6 Who are you?
    - if flash[:error]
      %p.error= flash[:error]

    .field.first
      = f.label :email
      = f.email_field :email, :autocomplete => "off", :spellcheck => false, :value => flash[:email]

    .field
      = f.label :password
      = f.password_field :password

    .field.actions.last
      = f.submit "Sign In", :class => "button"
      /= link_to "Forgot your password?", "#"