%ul.float-left 
  %li= link_to "Profile", account_index_path, :class => "#{"current" if current_page?("account", "index")}"
  %li= link_to "Accountabilities", "#"
  %li= link_to "Photos", photo_path(current_user.id), :class => "#{"current" if current_page?("photos", "show")}"

%ul.float-right 
  %li= link_to "Settings", settings_account_index_path, :class => "#{"current" if current_page?("account", "settings")}"
  %li= link_to "Sign Out", session_path(:id => session[:user_id]), :method => "delete"