%ul.float-left 
  %li= link_to "Profile", account_index_path, :class => "#{"current" if current_page?("account", "index")}"
  %li= link_to "Accountabilities", accountabilities_account_index_path, :class => "#{"current" if current_page?("account", "accountabilities")}"
  %li= link_to "Photos", photos_account_index_path, :class => "#{"current" if current_page?("account", "photos")}"

%ul.float-right 
  %li= link_to "Settings", settings_account_index_path, :class => "#{"current" if current_page?("account", "settings")}"
  %li= link_to "Sign Out", session_path(:id => session[:user_id]), :method => "delete"