%aside.sidebar.float-right 
  %h3 This Week's Events
  %section
    - if @events.empty?
      %p There are no events for this week.

    - else 
      - @events.each do |event|

        - if event.event_category_id == 1
          .event.events
            %time= event.event_date.strftime("%a")
            %p= event.title

        - elsif event.event_category_id == 2
          .event.holidays
            %time= event.event_date.strftime("%a")
            %p= event.title

        - elsif event.event_category_id == 3
          .event.birthdays
            %time= event.event_date.strftime("%a")
            %p= event.title