%section#new-post 
  %header 
    %span.profile-picture{:style => "background-image: url('#{path_to_photo @profpic}')"}
  = form_for @post do |f|
    .post-fields{"data-type" => "post"}
      = f.text_area :content, :placeholder => "Write something...", :class => "autosize", :spellcheck => false
    .post-fields{"data-type" => "photo"}
      = f.label :photo, "Select the photo that you want to upload"
      = f.file_field :photo
    .actions.clearfix
      %ul 
        %li= link_to "Post", "#", "data-type" => "post", :class => "selected"
        %li= link_to "Photo", "#", "data-type" => "photo"
      = f.submit "Post", :class => "button"