%section#new-post 
  %header 
    %span.profile-picture{:style => "background-image: url('#{path_to_photo @profpic}')"}
  = form_for :announcement do |f|
    .post-fields
      %section 
        = f.text_field :title, :placeholder => "Announcement Title"
        = select_tag "announcement[privacy]", options_for_select([["Public", "public"], ["Private", "private"]])
      = f.text_area :content, :placeholder => "Your announcement...", :class => "autosize", :required => true
    .actions.clearfix
      = f.submit "Post", :class => "button"