.wrapper.body.clearfix
  = render :partial => "account/partials/sidebar_left"

  #calendar
    %header.clearfix
      %h3= "#{@calendar[:month]} #{@calendar[:year]}"
      %ul
        = link_to "New Event", "#", :id => "new-event-hook"
        %li= link_to "<<", events_path({:month => @calendar[:previous_month].month, :year => @calendar[:previous_month].year})
        %li= link_to "..", events_path
        %li= link_to ">>", events_path({:month => @calendar[:next_month].month, :year => @calendar[:next_month].year})
    - @calendar[:days].each do |date|
      - day_events = []
      - if date
        - day_events = @events.where(:event_date => date)
      %div{:class => "day #{"unselectable" if date.nil?} #{"today" if !date.nil? and date.today?}", "data-day" => "#{date.day if !date.nil?}", "data-date" => "#{date.strftime("%B %d, %Y") if !date.nil?}"}
        - if !date.nil?
          - events = day_events.where(:event_category_id => 1)
          - if events.count > 0
            .events
              = "#{events.count} #{" Event".pluralize(events.count)}"
              %section.events-bubble
                .events-list
                  - events.each do |event|
                    .event
                      %h4= event.title
                      %time= event.event_date.strftime("%B %d, %Y")
                      %p= event.description
                      - if current_user.id == event.user.id
                        = link_to "Delete", event_path(event.id), :method=>:delete
          - events = day_events.where(:event_category_id => 2)
          - if events.count > 0
            .holidays
              = "#{events.count} #{" Holiday".pluralize(events.count)}"
              %section.events-bubble
                .events-list
                  - events.each do |event|
                    .event
                      %h4= event.title
                      %time= event.event_date.strftime("%B %d, %Y")
                      %p= event.description
                      - if current_user.id == event.user.id
                        = link_to "Delete", event_path(event.id), :method=>:delete
          - events = day_events.where(:event_category_id => 3)
          - if events.count > 0
            .birthdays 
              = "#{events.count} #{" Birthday".pluralize(events.count)}"
              %section.events-bubble
                .events-list
                  - events.each do |event|
                    .event
                      %h4= event.title
                      %time= event.event_date.strftime("%B %d, %Y")
                      %p= event.description
                      - if current_user.id == event.user.id
                        = link_to "Delete", event_path(event.id), :method=>:delete

#new-event-modal
  #new-event-overlay
  = form_for :event, :html => {:id => "new-event-form"} do |f|
    %h3 Create New Event
    .field
      = f.label :title
      = f.text_field :title, :required => true, :autocomplete => "off", :spellcheck => false
    .field
      = f.label :description
      = f.text_area :description, :spellcheck => false
    .field
      = f.label :venue
      = f.text_field :venue, :autocomplete => "off", :spellcheck => false
    .field
      = f.label :event_date, "Date"
      = f.text_field :event_date, :required => true, :autocomplete => "off", :spellcheck => false
    .field
      = f.label :event_category_id, "Category"
      = select_tag "event[event_category_id]", options_for_select(EventCategory.all.map { |category| [category.name, category.id] })
    .field.actions.clearfix
      = f.submit "Submit", :class => "button"
      %input{:type => "button", :class => "button", :id => "cancel-event-creation", :value => "Cancel"}/ 