.wrapper.body.clearfix
  #new-photo
    = form_for :photo do |f|
      #photo-container
        #photo-preview
        = f.file_field :photo, :accept => "image/*"
      = f.text_area :caption, :placeholder => "Caption", :class => "autosize"
      = f.submit "Publish Photo", :class => "button"

  .photo-gallery
    - 8.times do
      .photo{:style => "background-image: url('#{path_to_photo "default.jpg"}')", "data-owner" => "1", "data-id" => "1"}

#popup-modal
  #popup-overlay
  #popup.clearfix
    #preview-section{:style => "background-image: url('#{path_to_photo "default.jpg"}')"}
    #info-section
      %header 
        .close
        %span.profile-picture
        = link_to "Arnelle Balane", "#"

      %p Lorem ipsum Laboris laborum ullamco eu ut fugiat nisi ut ut sit eu ea id veniam enim anim veniam tempor Excepteur dolor irure enim.

      %footer 
        %time October 25, 2013