.wrapper.body.clearfix
  #new-photo
    = form_for @photo do |f|
      #photo-container
        #photo-preview
        = f.file_field :photo, :accept => "image/*"
      = f.text_area :caption, :placeholder => "Caption", :class => "autosize", :spellcheck => false
      = f.submit "Publish Photo", :class => "button"

  .photo-gallery
    - if @photos.empty?
      %p.empty-results No Photos Found

    - @photos.each do |photo|
      .photo{:style => "background-image: url('#{serve_photo_path photo.id}')", "data-id" => photo.id}

#popup-modal
  #popup-overlay
  #popup.clearfix
    #preview-section{:style => "background-image: url('')"}
    #info-section
      %header 
        .close
        %span.profile-picture
        = link_to "Arnelle Balane", "#"

      %p Lorem ipsum Laboris laborum ullamco eu ut fugiat nisi ut ut sit eu ea id veniam enim anim veniam tempor Excepteur dolor irure enim.

      %footer 
        %time October 25, 2013