.wrapper.body.clearfix
  = render :partial => "account/partials/sidebar_left"

  %section#main-content 
    = render :partial => "account/partials/user_bio"

    .activity-list
      %p.title Recent Activities
      
      - if @activities.empty?
        %p.empty-results No Activities Found

      .activities
        - @activities.reverse.each do |activity|
          .activity
            %header 
              %span.profile-picture{:style => "background-image: url('#{serve_photo_path @profpic}')"}
              - name = activity.user.user_info.firstname + " " + activity.user.user_info.lastname
              = link_to name, account_path(activity.user.id)

            - if activity.class.name == "Post"
              %p= simple_format(activity.content)
            - else 
              %p= simple_format(activity.caption)
              = image_tag "#{serve_photo_path activity.id}"

            %footer
              %time= activity.created_at.strftime("%B %d, %Y at %I:%M %p")
              = link_to pluralize(activity.comments.length, "Comment"), "#", :class => "comment-hook"
              - if activity.class.name == "Post"
                = link_to "Delete", post_path(activity.id), :method=>:delete
              - if activity.class.name == "Photo"
                = link_to "Delete", photo_path(activity.id), :method=>:delete
            .comments
              - activity.comments.reverse.each do |comment|
                .comment.clearfix
                  - profpic = "0"
                  - if comment.user.user_info.photo_id and Photo.find(comment.user.user_info.photo_id)
                    - profpic = Photo.find(comment.user.user_info.photo_id).id.to_s
                  %span.profile-picture{:style => "background-image: url('#{serve_photo_path profpic}')"}
                  %div
                    - user = comment.user
                    - name = user.user_info.firstname + " " + user.user_info.lastname
                    = link_to name, account_path(user.id)
                    %p= simple_format(comment.content)
                    %footer 
                      %time= comment.created_at.strftime("%B %d, %Y at %I:%M %p")
                      - if current_user.id == comment.user.id
                        = link_to "Delete", comment_path(comment.id), :method => :delete

              = form_for @comment, :html => {:class => "new-comment clearfix"} do |f|
                = f.hidden_field :parent_id, :value => activity.id
                = f.hidden_field :parent_class_name, :value => activity.class.name
                = f.text_area :content, :placeholder => "Your comment..."
                = f.submit "Post", :class => "button"

  = render :partial => "account/partials/sidebar_right"