.wrapper.body.clearfix
  = render :partial => "account/partials/sidebar_left"

  %section#main-content 
    = render :partial => "account/partials/user_bio"

    .activity-list
      %p.title Recent Activities
      .activities
        - @activities.each do |activity|
          .activity
            %header 
              %span.profile-picture{:style => "background-image: url('#{path_to_photo @profpic}')"}
              - name = activity.user.user_info.firstname + " " + activity.user.user_info.lastname
              = link_to name, account_path(activity.user.id)

            %p= simple_format(activity.content)
            / = image_tag "photo.gif"

            %footer
              %time= activity.created_at.strftime("%B %d, %Y at %I:%M %p")
              = link_to "#{activity.comments.length} Comments", "#", :class => "comment-hook"

            .comments          
              - activity.comments.each do |comment|     
                .comment.clearfix                
                  %span.profile-picture{:style => "background-image: url('#{image_path "profile-picture.jpg"}')"}
                  %div 
                    - commentor = comment.user.user_info.firstname + " " + comment.user.user_info.lastname
                    = link_to commentor, account_path(comment.user.id);
                    %p Lorem ipsum dolor sit amet
                    %time August 27, 2013

              = form_for :comment, :html => {:class => "new-comment clearfix"} do |f|
                = f.text_area :content, :placeholder => "Your comment..."
                = f.submit "Post", :class => "button"

  = render :partial => "account/partials/sidebar_right"